
.home {
  padding-top: 6rem;

  @include breakpoint(small only) {
    padding-top: 4rem;
  }

  .hero {
    width: 100%;
    box-sizing: border-box;

    .hero-slider {
      img {
        width: 100%;
      }
    }
  }
}