table {
  border-collapse: collapse;

  th, tr, td {
    border: 1px solid #c0c0c0;
  }

  .fa-edit {
    color: #8a6d3b;
  }
  .fa-times {
    color: #ff0000;
  }
}
hr {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}
.notification {
  display: none;
  margin-top: 1.5rem;

  ul {
    li {
      list-style-type: none;
    }
  }
}
.reveal {
  border: 0;
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}