// Variables
$background: #f2f2f2;
$heading-large: 2.5rem;
$heading-medium: 3rem;
$heading-small: 1.7rem;
$text-size: 1rem;

html, body {
  font-size: $text-size;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.site_wrapper {
  min-height: 100%;
  position: relative;
  top: 100px;
}
table {
  border-collapse: collapse;

  th, tr, td {
    border: 1px solid #c0c0c0;
  }

  .fa-edit {
    color: #8a6d3b;
  }
  .fa-times {
    color: #ff0000;
  }
}
hr {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}
.notification {
  display: none;
  margin-top: 1.5rem;

  ul {
    li {
      list-style-type: none;
    }
  }
}
.reveal {
  border: 0;
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}